<!-- nav bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="margin-bottom:20px;">
  <a class="navbar-brand" href="#" style="font-weight:bold; font-size:30px">TODOAPP
    <sup style="font-size:19px;">&copy;</sup>
  </a>
  <ul class="navbar-nav">
  </ul>
</nav>

<!--todo component-->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3" style="margin-top:58px">
      <app-to-do></app-to-do>
    </div>
  </div>
</div>

<!-- footer -->
<footer>
  <p class="footertext">&copy; Copyright 2018 todoapp</p>
</footer>